{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}


    {% if name %}
        <h1>Paciente Added! </h1>
        {% for our_paciente in our_pacientes %}
        {{ our_paciente.id_paciente  }}. {{ our_paciente.DNI }}. 
        {{ our_paciente.nombre }}. {{ our_paciente.apellido }}.
        {{ our_paciente.nro_seguro }}
        <br/>
        {% endfor %}
        <br/>
    {% else %}
        <h1>Paciente List: </h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="w-50">
            <b>{{ form.DNI.label(class="form-label", type="number") }}</b>
            {{ form.DNI(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b>{{ form.nombre.label(class="form-label") }}</b>
            {{ form.nombre(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b>{{ form.apellido.label(class="form-label") }}</b>
            {{ form.apellido(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b>{{ form.nro_seguro .label(class="form-label") }}</b>
            {{ form.nro_seguro(class="form-control") }}
            <br/>
            </div>
            {{ form.submit(class="btn btn-secondary") }}</b>
        </form>
        <br><br>
        <table id="data" class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">ID Paciente</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Nro Seguro</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                {% for our_paciente in our_pacientes %}
                  <th scope="row">{{ our_paciente.id_paciente  }}</th>
                  <td>{{ our_paciente.DNI }}</td>
                  <td>{{ our_paciente.nombre }}</td>
                  <td>{{ our_paciente.apellido }}</td>
                  <td>{{ our_paciente.nro_seguro }}
                      <td>
                          <a class="btn btn-primary" href="{{ url_for('update_paciente', id_paciente = our_paciente.id_paciente) }}">Update</a>
                          <a class="btn btn-danger" href="{{ url_for('deletepaciente', id_paciente = our_paciente.id_paciente) }}">Delete</a></td>
                    </td>
                </td>

                </tr>
                {% endfor %}  
            </tbody>
        </table>
    {% endif %}

{% endblock %}

