{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <spam aria-hidden="true">&times;</spam>
        </div>
        
    {% endfor %}


    {% if name %}
        <h1>Consulta Added! </h1>
        {% for our_consulta in our_consultas %}
        {{ our_consulta.id_consulta }}. {{ our_consulta.descripcion_consulta }}. 
        {{ our_consulta.id_doctor }}. {{ our_consulta.id_paciente }}
        <br/>
        {% endfor %}
        <br/>
    {% else %}
        <h1>Consulta List: </h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.descripcion_consulta.label(class="form-label",id="descripcion_consulta", name="descripcion_consulta") }}
            {{ form.descripcion_consulta(class="form-control") }}
            <br/>
            {{ form.id_doctor.label() }}
            {{ form.id_doctor() }}
            <br/>
            {{ form.id_paciente.label() }}
            {{ form.id_paciente() }}
            <br/>
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID Consulta</th>
                  <th scope="col">Descripción Consulta</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Paciente</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                {% for our_consultas in our_consultas %}
                  <th scope="row">{{ our_consultas.id_consulta }}</th>
                  <td>{{ our_consultas.descripcion_consulta }}</td>
                  <td>{{ our_consultas.id_doctor }}</td>
                  <td>{{ our_consultas.id_paciente }}</td>
                  <td><button type="button" href="{{ url_for('deletecunsulta', id_consulta=our_consultas.id_consulta) }}" class="btn btn-danger">Delete</button></td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    {% endif %}

{% endblock %}

