{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}


    {% if name %}
        <h1>Doctor Added! </h1>
        {% for our_doctor in our_doctors %}
        {{ our_doctor.id_doctor }}. {{ our_doctor.DNI }}.
        {{ our_doctor.nombre }}. {{ our_doctor.apellido }}. {{ our_doctor.especialidad }} <br/>
        {% endfor %}
        <br/>
    {% else %}
        <h1>Doctor List: </h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="w-50">
            <b class="b-color">{{ form.DNI.label(class="form-label") }}</b>
            {{ form.DNI(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b class="b-color">{{ form.nombre.label(class="form-label") }}</b>
            {{ form.nombre(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b class="b-color">{{ form.apellido.label(class="form-label") }}</b>
            {{ form.apellido(class="form-control") }}
            <br/>
            </div>
            <div class="w-50">
            <b class="b-color">{{ form.especialidad.label(class="form-label") }}</b>
            {{ form.especialidad(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>

        <br><br><br><br>
        <table id="data" class="table table-dark">
            <thead>
                <tr>    
                  <th scope="col">ID Doctor</th>
                  <th scope="col">Dni</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Especialidad</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                {% for our_doctor in our_doctors %}
                  <th scope="row">{{ our_doctor.id_doctor }}</th>
                  <td>{{ our_doctor.DNI }}</td>
                  <td>{{ our_doctor.nombre }}</td>
                  <td>{{ our_doctor.apellido }}</td>
                  <td>{{ our_doctor.especialidad }}</td>

                    <td>
                        <a class="btn btn-primary" href="{{ url_for('update_doctor', id_doctor = our_doctor.id_doctor) }}">Update</a>
                        <a class="btn btn-danger" href="{{ url_for('deletedoctor', id_doctor = our_doctor.id_doctor) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    {% endif %}

{% endblock %}

