{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}


    {% if name %}
        <h1>Consulta Added! </h1>
        {% for our_consulta in our_consultas %}
        {{ our_consulta.id_consulta }}. {{ our_consulta.descripcion_consulta }}. 
        {{ our_consulta.id_doctor }}. {{ our_consulta.id_paciente }}
        <br/>
        {% endfor %}
        <br/>
    {% else %}
        <h1>Consulta List: </h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.descripcion_consulta.label(class="form-label") }}
            {{ form.descripcion_consulta(class="form-control") }}
            <br/>
            {{ form.id_doctor.label() }}
            {{ form.id_doctor(class="form-control") }}
            <br/>
            {{ form.id_paciente.label() }}
            {{ form.id_paciente(class="form-control") }}
            <br/>
            {{ form.reserva_fecha_consulta.label() }}
            {{ form.reserva_fecha_consulta() }}
            <br/>
            <br/>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <br><br>
        <table id="data" class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">ID Consulta</th>
                  <th scope="col">Descripción Consulta</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Fecha de reserva</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                {% for our_consultas in our_consultas %}
                  <th scope="row">{{ our_consultas.id_consulta }}</th>
                  <td>{{ our_consultas.descripcion_consulta }}</td>
                  <td>{{ our_consultas.nombre_doc }}</td>
                  <td>{{ our_consultas.nombre }}</td>
                  <td>{{ our_consultas.reserva_fecha_consulta }}</td>
                  <td>

                      <a class="btn btn-primary" href="{{ url_for('update_consulta', id_consulta=our_consultas.id_consulta) }}">Update</a>
                      <a class="btn btn-danger" href="{{ url_for('deleteconsulta', id_consulta=our_consultas.id_consulta) }}">Delete</a>
                  </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    {% endif %}

{% endblock %}

